body {
    background-color: oldlace;
  }

  .logo {
    display: block;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

h1, h4 {
    text-align: center;
    margin: .02em;
}

h1 {
    font-size: 4em;
    font-weight: lighter;
    text-decoration: underline;
    text-decoration-thickness: .03em;
    font-family: 'Nanum Myeongjo', serif;
}
 
p {
    font-size: 1.2em;
    margin-left:10%;
    margin-right:10%;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size:1.5em;
    margin-top:0px;
    margin-bottom:0px;
    text-align:center;
}

.social {
    margin-left:10%;
    margin-top:-8%;
}

.fb {
    width: 10%;
}

.ig {
    width: 6%;
}

.photos {
    margin-top:2%;
    background-color: blanchedalmond;
    border-radius: 15%;
}

img {
    margin-top : 3%;
}

.horizontal {
    margin-left: 20%;
    height: 60%;
    width: 60%;
}

.vertical {
    margin-left: 17%;
    height: 30%;
    width: 30%;
}

.vertical2 {
    margin-left: 5%;
    height: 30%;
    width: 30%;
}
.vertical3 {
    margin-left:20%;
    height:30%;
    width: 60%;
}
footer {
    margin-top:2%;
    text-align: center;
}

@media only screen and (max-width: 610px) {
    .social {
        margin-left: -2%;
        margin-top: -10%;
    }

    .photos {
        margin-top: 10%;
    }

    .logo {
        width: 40%;
    }

    p {
        margin-left: 2%;
        font-size: .9em;
    }
}

@media only screen and (max-width: 500px) {
    .social {
        margin-left: -2%;
        margin-top: -18%;
    }
}